{
  'extends': 'airbnb',
  'rules': {
    'react/jsx-no-bind': [2, { 'ignoreRefs': true }],
    'object-curly-spacing': 0,
    'no-nested-ternary': 0,
    'no-param-reassign': [2, {
      'props': false
    }]
  },
  'globals': {
    '$': true,
  }
}
