mixin icon(iconId)
	- className = attributes.className || 'icon'
	- classNameInner = attributes.classNameInner || 'icon__inner'

	i(class=className)
		i(class=classNameInner)
			svg
				use(xlink:href="#icon-" + iconId)
