head
	meta(charset="utf-8")
	title New Project

	meta(name="format-detection" content="telephone=no")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	// build:css /assets/css/style.min.css
	link(rel="stylesheet" href=basePath+"/assets/css/style.css")
	// endbuild

	include ./_analytics.pug
