head
	meta(charset="utf-8")
	title The Big Book Project | Fiverr

	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(name="format-detection" content="telephone=no")

	link(rel="stylesheet" href=basePath+"/assets/css/style.css")

	include ./analytics.pug
