doctype html
html
	head
		meta(charset="utf-8")
		title New Project

		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href=basePath+"/assets/css/style.css")

		link(rel="icon" href=basePath+"/assets/img/favicon.ico" type="image/x-icon")

		include ./partials/analytics.pug

	body
		.js-mount-point

		script(src=basePath+"/assets/js/app.bundle.js")
